body,
html {
  height: 100%;
}

.form input {
  background: #fff;
  width: 70%;
  border: 0;
  margin: 0 0 20px;
  padding: 15px;
  font-size: 14px;
}

.form button {
  width: 70%;
  padding: 10px;
}
